<a href="https://colab.research.google.com/github/UsmanIlamdin/Alexa_Speech_Recogniton/blob/master/logistic_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Build a Logistic Regression Model with Sklearn

We start by importing the Logistic Regression model

In [2]:
import pandas as pd
from sklearn.linear_model import LogisticRegression

All sklearn models are built as Python classes. We first instantiate the class

In [3]:
model = LogisticRegression()

Now we can use our data that we previously prepared to train the model. The fit method is used for building the model. It takes two arguments: X (the features as a 2d numpy array) and y (the target as a 1d numpy array).


For simplicity, let’s first assume that we’re building a Logistic Regression model using just the Fare and Age columns. First we define X to be the feature matrix and y the target array.

# load data set

In [4]:
df = pd.read_csv('/content/drive/My Drive/ml-exam/titanic.csv')

In [10]:
df.describe

<bound method NDFrame.describe of      Survived  Pclass     Sex  ...  Parents/Children     Fare   male
0           0       3    male  ...                 0   7.2500   True
1           1       1  female  ...                 0  71.2833  False
2           1       3  female  ...                 0   7.9250  False
3           1       1  female  ...                 0  53.1000  False
4           0       3    male  ...                 0   8.0500   True
..        ...     ...     ...  ...               ...      ...    ...
882         0       2    male  ...                 0  13.0000   True
883         1       1  female  ...                 0  30.0000  False
884         0       3  female  ...                 2  23.4500  False
885         1       1    male  ...                 0  30.0000   True
886         0       3    male  ...                 0   7.7500   True

[887 rows x 8 columns]>

In [12]:
df.head()

   Survived  Pclass     Sex  ...  Parents/Children     Fare   male
0         0       3    male  ...                 0   7.2500   True
1         1       1  female  ...                 0  71.2833  False
2         1       3  female  ...                 0   7.9250  False
3         1       1  female  ...                 0  53.1000  False
4         0       3    male  ...                 0   8.0500   True

[5 rows x 8 columns]

In [13]:
df['male'] = df['Sex'] == 'male'
X = df[['Pclass', 'male', 'Age', 'Siblings/Spouses', 'Parents/Children', 'Fare']].values
y = df['Survived'].values

In [15]:
model.fit(X, y)

print(model.predict([[3, True, 22.0, 1, 0, 7.25]]))

[0]

Let’s see what the model predicts for the first 5 rows of data and compare it to our target array. We get the first 5 rows of data with X[:5] and the first 5 values of the target with y[:5].

In [16]:
print(model.predict(X[:5]))
print(y[:5])

[0 1 1 1 0]
[0 1 1 1 0]